@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 1271px;
    left: 84px;
    top: 75px;
    margin: 0;
    padding: 0;
}

.header__words {
    color: #e5e5e5;
    font-size: 36px;
    font-weight: 700;
}

.header__words a{
    color: #408253;
    text-decoration: none;
}

.header__words span {
    color: #408253;
}

h1 {
    font-size: 64px;
}

.img1{
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 48px;
}

.text1 {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 64px;
}

.img2 {
    margin-bottom: 75px;
}

.caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-top: 76px;
    padding-right: 15px;
    padding-bottom: 15px;
}

table {
    border: 1px solid #408253;
    width: 100%;
    border-collapse: collapse;
    background-color: #D9F0E0;

}

td {
    border: 1px solid #408253;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

th {
    border: 1px solid #408253;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

}

.tr3 td {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #ffffff;
    font-style: italic;
    border: 1px solid #D9F0E0;
}

.tdsale {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #ffffff;
    font-style: italic;
    width: 250px;
    padding-left: 69px;

}

.tdcups td {
    border: 1px solid #D9F0E0;
    color: #ffffff;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.text2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
}

.footer {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-top: 75px;
    margin-left: 1102px;
    padding-bottom: 38px;
}